/* ------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-color: #fff;
    color: rgb(50, 50, 50);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-y: overlay;
    overflow-x: hidden;
}

.clearfix { zoom: 1 }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


body {
    background: url(img/BW_vert_2_sides_60op.svg);
    background-size: 100% auto;
    background-repeat: repeat-y;
    min-height: 100vh; 
}


/* -------- HEADINGS --------- */

h1, h2, h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 250%; 
    margin-top: 0;
    margin-bottom: 15px;
    color: #000;
    word-spacing: 3px;
}

h2 {
    font-size: 150%;
    /* text-align: center; */
    /* margin-bottom: 30px; */
    text-transform: uppercase;
}

h3 {    
    font-size: 110%;
    /* margin-bottom: 6%; */
    /* text-transform: uppercase; */
    letter-spacing: .5px;
}


/* ------------------------------------------------------------- */
/* Results */
/* ------------------------------------------------------------- */

.row {
    margin-bottom: 15px;
}

.result-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 24px;
    border: 1px solid #4d4d4d;
    margin-top: 15px;
}

.result-line {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 5px;
}

.result-id-info {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.sep {
    margin: 0 10px;
}

.result-class-info {
    display: flex;
    font-weight: 400;
}

.class-info-sector {
    display: flex;
    margin-right: 15px;
}

.class-info-label {
    margin-right: 7px;
}

.class-info-value {
    font-weight: 300;
}

.class-info-line {
    display: flex;
    flex-direction: column;
}

.result-price-info {
    display: flex;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.empty-span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    /* fixes overlap error in IE7/8, 
        make sure you have an empty gif */
    background-image: url('empty.gif');
}



/* ------------------------------------------------------------- */
/* SCROLL BAR */
/* ------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b6969;
    border-radius: 15px;
  }

/* ------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding-top: 10px;
    padding-bottom: 0px;
}

.box {
    padding: 1%;
}




/* --------- LINKS ---------- */



/* color: #f5efef;  */

a {
    /* color: #7e7e7e;  */
    color: #585858;   
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #9d99a0;
}

li {
    list-style: none; 
    color: rgb(152, 89, 194);
}




/* Main navigation bar */
.main-nav {
    margin-top: 20px;
}

.main-nav-items {
    float: right;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.main-nav-items li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 4px 0;
    font-size: 95%;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom color 0.15s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    color: #3b3b3b;   
    border-bottom: 1px solid #686565d8;
}

/* Search bar */

.search-bar-outer {
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    width: 60%;
    border-radius: 24px;
    /* border: 1px solid #dae0e6; */
    border: 1px solid #b2b7bd;
    padding: 13.5px 20px;
    max-height: 50px;
    background-color: #fcfeff;
}
