{% extends "base.html" %}

{% block content %}

<section class="main-section">
    <div class="row-main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="row-main">
        <div class="title">
            <object type="image/svg+xml" data="/static/resources/icons/tmx_logo_white.svg" class="tmx-icon"></object>
            <svg width="350px">
                <text class="text" x="0" y="110px" font-family="Verdana" font-size="95px" stroke="#585858"
                    stroke-width=".8" fill="#fff">Screen</text>
            </svg>
        </div>
    </div>
    <div class="row-main">
        <div id="builder"></div>
        <button class="btn btn-primary submit-query">Query</button>
        <form id="form" method="get" action="/results"></form>
    </div>
    <!-- <footer>
            <div class="page-bottom">
                
            </div>
        </footer> -->
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/static/vendors/js/moment.min.js"></script>
<script type="text/javascript" src="/static/vendors/js/query-builder.standalone.js"></script>
<script type="text/javascript" src="/static/vendors/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/static/vendors/js/sql-parser.js"></script>
<script type="text/javascript" src="/static/resources/js/scripts.js"></script>
<script type="text/javascript" src="/static/resources/js/filters.js"></script>


{% endblock %}