<header>
    <nav>
        <div class="row">
            <div class="nav-container">
                {% if not index %}
                {% if editprofile %}
                <a href="{{ url_for('user', username=current_user.username) }}" class="a-home back-arrow-icon">
                    {% else %}
                    <a href="{{ url_for('index') }}" class="a-home back-arrow-icon">
                        {% endif %}
                        <svg xmlns='http://www.w3.org/2000/svg' width='25px' viewBox='0 0 512 512'>
                            <path fill='none' stroke='#585858' stroke-linecap='round' stroke-linejoin='round'
                                stroke-width='48' d='M244 400L100 256l144-144M120 256h292' />
                        </svg>
                    </a>
                    {% endif %}
                    <div class="main-nav">
                        <ul class="main-nav-items">
                            <li><a class="a-nav" href="#about">About</a></li>
                            <li><a class="a-nav" href="#steps">How it works</a></li>
                            {% if current_user.is_anonymous %}
                            <li><a class="a-nav" href="{{ url_for('login') }}">Login</a></li>
                            {% elif not profilepage %}
                            <li>
                                <a class="" href="{{ url_for('user', username=current_user.username) }}"
                                    class="profilepic">
                                    <!-- {{ current_user.username }} -->
                                    <img src="{{ current_user.avatar(24) }}" style="border-radius: 10px;">
                                </a>
                            </li>
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
            </div>
        </div>
    </nav>
</header>