
body {
    background-image: 
        /* url(img/BlueWaveform2_twist180_long_grad2.svg); */
        url(img/BlueWaveform_trsfrm_horiz_long3-01.svg);
    background-size: 130% auto;
    min-height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
}