/* ------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-color: #fff;
    color: rgb(50, 50, 50);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-y: overlay;
    overflow-x: hidden;
}

.clearfix { zoom: 1 }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------- */
/* 

.row {
    max-width: 85%;
    margin: 0 auto;
}
.row-main {
    max-width: 70%;
    margin: 0 auto;
}

section {
    padding-top: 10px;
    padding-bottom: 0px;
}

.box {
    padding: 1%;
} */


/* -------- HEADINGS --------- */

/* h1, h2, h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 15px;
    color: #000;
    word-spacing: 3px;
}

h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h3 {    
    font-size: 110%;
    margin-bottom: 6%;
    text-transform: uppercase;
    letter-spacing: .5px;
} */


/* --------- LINKS ---------- */

a {
    color: #585858;
}

a.a-nav:link, 
a.a-nav:visited {
    font-size: 95%;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.15s; 
}

a.a-nav:hover, 
a.a-nav:active {
    color: #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
}

li {
    list-style: none; 
}

/* Main navigation bar */

.nav-container {
    margin-top: 20px;
}

a.a-home {
    float: left;
    margin-bottom: 10px;
    font-size: 95%;
    text-decoration: none;
}

.main-nav-items {
    float: right;
    margin-right: 10px;
}

.main-nav-items li {
    display: inline-block;
    margin-left: 30px;
}

/* Sticky navigation bar */

/* .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 0 1px 1px rgb(153, 151, 151);
    z-index: 9999;
} */

/* ---------------------------------------- */
/* USER PROFILE STYLES */
/* ---------------------------------------- */

/* 
.user-profile {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 20px;
}

.h2-profile {
   text-align: left;
   text-transform: none;
}

table.saved-queries {
    width: 100%;
    border: 1px solid #000;
}

table.saved-queries th {
    padding: 15px;
    text-align: left;
} */




/* ------------------------------------------------------------- */
/* SCROLL BAR */
/* ------------------------------------------------------------- */


/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b6969;
    border-radius: 15px;
  }