/* ------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------- */


.row-result {
    /* max-width: 75%; */
    margin: 0 auto;
}


/* -------- HEADINGS --------- */

h1, .h2, .h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 250%; 
    margin-top: 0;
    margin-bottom: 15px;
    color: #000;
    word-spacing: 3px;
}

.h2 {
    font-size: 150%;
    text-transform: uppercase;
}

.h3 {    
    /* font-size: 110%; */
    letter-spacing: .5px;
}

/* ---------------------------------- */
/* Stolen from Bootstrap.css */
/* ---------------------------------- */

.label{
    padding-right:0.6em;
    font-size:75%;
    font-weight:700;
}

.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}

.btn{
    padding:6px 12px;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    border-radius:4px
}

.d-flex {
    display: flex;
    justify-content: center;
}
@keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
  
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25rem solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 2rem;
    height: 2rem;
    border-width: .25rem;
}
  

/*   */
 /*  */
/*  */

.query-section {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    margin-top: 5px;
    margin-right: 30px;
}

th {
    font-weight: 700;
    padding-right: 7px;
    padding-bottom: 3px;
}

thead th {
    font-size: 80%;
    padding-bottom: 3px;
    border-bottom: solid 1px black;
}


tbody th {
    font-size: 75%;
    padding-top: 4px;
}

td {
    text-align: right;
    font-weight: 300;
    font-size: 85%;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 4px;
}


#ch_container {
    width: max-content;
}

/* ------------------------------------------------------------- */
/* Results */
/* ------------------------------------------------------------- */

.section-results {
    margin-bottom: 20px;
}

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-self: left;
}

.row-result.right {
    display: flex;
    justify-content: flex-end;
}

.collapse-all-div {
    justify-self: right;
}

.sort-by-section {
    display: flex;
    justify-self: right;
    align-items: center;
}

.sort-by-text {
    display: flex;
    white-space: nowrap;
    margin-right: 5px;
}
.sort-by {
    border-radius: 5px;
    margin-right: 5px;
}
.sort-order {
    text-align: center;
    /* padding: 3px 5px; */
}

.download-button {
    margin-right: 5px;
}

.result {
    user-select: none;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 24px;
    border: 1px solid #4d4d4d;
    margin-bottom: 25px;
    color:#444444;
    padding-top: 10px;
    font-size: 16px;
}


.result__line {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.result__line.line-info {
    flex-wrap: wrap;
}

.result__line.last-line {
    display: flex;
    justify-content: space-between;
    /* flex-flow: row-reverse; */
}

.result__info {
    display: flex;
    flex-direction: column;
}

#see-more {
    justify-content: center;
    margin-bottom: 5px;
}

.result-id-info {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.sep {
    margin: 0 10px;
}

.result-class-info {
    display: flex;
    font-weight: 400;
}

.class-info-sector {
    /* display: flex; */
    margin-right: 15px;
}

.price-n-change {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.price
{
    display: flex;
    font-weight: 400;
    font-size: 230%;
    margin-right: 10px;
    line-height: 120%;
}

.change {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 110%;
    font-size: 100%;
    margin-right: 5px;
    white-space: nowrap;
}

.ch-pos { color: rgb(0, 156, 0); }
.ch-neg { color: red; }

.symbol {
    line-height: 120%;
    font-size: 230%;
}

.name {
    font-size: 175%;
    letter-spacing: .5px;
}

.class-info-label {
    margin-right: 7px;
}

.class-info-value {
    font-weight: 300;
}

.class-info-line {
    display: flex;
    flex-direction: column;
}

.result-price-info {
    display: flex;
}

.multi-block {
    display: flex;
}

.result-block {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-right: 50px;
}

.price-info-block,
.shares-info-block {
    margin-right: 0;
}

.block-subline {
    display: flex;
    justify-content: center;
}

.block-title {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid;
    margin-bottom: 3px;
}

.block-title div.label {
    font-size: 80%;
    padding: 0;
    border-radius: 0;
    margin-bottom: 3px;
}

.result-block-col {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
}

.icon-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}

.info-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 7px;
}

.value {
    display: flex;
    align-items: baseline;
    font-weight: 300;
    font-size: 85%;
}

.value-curr, #dividendcurr  {
    margin-left: 5px;
    font-size: 80%;
}

.external-link-container {
    margin-right: 20px;
    margin-bottom: 5px;
}

.last-line {
    color: #585858;
    font-size: 65%;
}

a.external-link {
    display: flex;
    justify-content: center;
}
