


/* 
body {
    background-image: 
        url(img/BlueWaveform_trsfrm_horiz_long3-01.svg);
    background-size: 130% auto;
    min-height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
} */

.title {
    /* background: radial-gradient(ellipse, rgba(154,89,227,0.6535656498927696) 0%, rgba(151,91,219,0) 38%, rgba(255,255,255,0) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.tmx-icon {
    height: 280px;
    width: auto;
    float: center; 
    /* margin-top: 10px; */
    margin-bottom: 10px;
}


/* Search bar */

.search-bar-outer {
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    width: 60%;
    border-radius: 24px;
    /* border: 1px solid #dae0e6; */
    border: 1px solid #b2b7bd;
    padding: 13.5px 20px;
    max-height: 50px;
    background-color: #fcfeff;
}

/* input {
    border: none;
    background: none;
    appearance: none;
    width: 100%;
    line-height: 22px;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    font-size: 16px;
} */

/* .page-bottom {
    height: 100px;
    overflow-x: hidden;
    background-image: linear-gradient(360deg, rgba(114,34,195,0.58) 0%, rgba(227,225,232,.4) 32%, rgba(255,255,255,0) 100%)
} */